@model List<Projekt_3___Web_Client.Models.Entertainment>;

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    var myArray = [];

    @foreach (var Entertainment in Model)
    {
        @:myArray.push("@d");
    }

    alert(myArray);

</script>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Release Date</th>
    </tr>

    <tr>
    @foreach (var Entertainment in Entertainments)
    {
        <td>
            @for (int i = 0; i < item.Docs.Count; i++)
            {
                @item.Docs[i]+" " + i.ToString();
            }

        </td>


    }
    </tr>

    <tr>
        <td>Eve</td>
        <td>Jackson</td>

    </tr>
</table>