
@{
    ViewBag.Title = "MyList";
}

<h2>MyList</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Dato")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>

        <th></th>
    </tr>
    </table>
