@{
    ViewBag.Title = "MyList";
}

@using PopcornTime_2._0.Models

@model Entertainment


<select>
    <option>Vælg</option>
    <option>test</option>
</select>

<div>
    <ul class='dropdown'>
        <li id="top">
            <a href='index.html'>Dropdown</a>
            <span></span>
            <ol class="dropdown-box">
                @*foreach()*@
                <li><a href='#'>item 1</a></li>
                <li><a href='#'>item 2</a></li>
                <li><a href='#'>item 3</a></li>
                <li><a href='#'>item 4</a></li>
                <li><a href='#'>item 5</a></li>
            </ol>
        </li>
    </ul>
</div>

@*@model FavoriteList*@

@*@Html.DropDownListFor(m => m.StudentGender,
    new SelectList(Enum.GetValues(typeof(Gender))),
    "Select Gender")*@


@*FindAllfavoriteListByid skal sættes ind i dropdown*@

@*findallEntertainmentsByListId skal tage id fra favorit list og vise alle entertainments i den liste*@


