
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>

<form action="/Home/Login" method="post">
    <input type="text" name="UserName" id="UserName" />
    <input type="text" name="Password" id="Password" />
    <input type="submit" value="Log in" @FormMethod.Post>

</form>
