
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogOut</h2>


<form action="/Home/Logout" method="post">


    <input type="submit" value="Log out?" @FormMethod.Post>

</form>